extends layout

block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let employeeid = toShow._id
        - let employeename = toShow.employee_Name
        - let employeeage = toShow.employee_age
        - let employeesalary = toShow.employee_salary
        - let actionid = "/resource/employees/" + employeeid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='employeeAttr mr-3') employee ID is:
                div #{employeeid}
            div.row
                div(class='employeeAttr mr-3') employee Name  is:
                div #{employeename}
            div.row
                div(class='employeeAttr mr-3') employee age is:
                div #{employeeage}
            div.row
                div(class='employeeAttr mr-3') employee salary is:
                div #{employeesalary}

        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
        function cancel() {
            // Go back to the home page for the employee collection
            window.location.href='/resource/employees'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE'      // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/resource/employees'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }