extends layout

block content
  h1= title
  - let employees  = results
  div(claass="container-fluid mt-3")
   div(class="row m-1")
    each employee,index in employees
     - let destination = `dispatch(\"/employee/update?id=${employee ._id}\")`
     div(class="col-sm-3 bg-secondary m-2 p-4" onclick=`buy(${index})`) #{employee.employee_Name} - #{employee.employee_age } - #{employee.employee_salary}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
   function buy(itemNo)
   {
     alert(`You purchased Item ${itemNo+1}`)
   }
   function dispatch(path)
   {
     window.location.href=path
   }