extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to get details 
    else
        - let employeeid = toShow._id
        - let employee_Name = toShow.employee_Name
        - let employeeage = toShow.employee_age
        - let employeesalary = toShow.employee_salary
        div
        div.row
        div(class='employeeAttr mr-3') employee ID is:
        div #{employeeid}
        div.row
        div(class='employeeAttr mr-3') employee Name is:
        div #{employee_Name}
        div.row
        div(class='employeeAttr mr-3') employee age is:
        div #{employeeage}
        div.row
        div(class='employeeAttr mr-3') employee salary is:
        div #{employeesalary}
